torch
torchvision
rasterio
huggingface_hub
diffusers
git+https://github.com/IBM/terratorch.git
tqdm
fastapi
gunicorn
uvicorn[gunicorn]
morecantile
opencv-python
rio-cogeo
shapely
boto3
geojson
Pillow==9.4.0
starlette
sagemaker-training
