gdal==3.11.3
boto3
datasets
fastapi
geojson
geopandas
gputil
gunicorn
httpx
huggingface_hub
inflection
morecantile
opencv-python
Pillow==9.4.0
pydantic
python-dotenv
rasterio
rio-cogeo
scipy
shapely
starlette
terratorch==1.0.2
tqdm
transitions>=0.9.0
uvicorn
temporalio
psycopg2-binary
sqlalchemy

