boto3
datasets
fastapi
geojson
gunicorn
httpx
huggingface_hub
morecantile
opencv-python
Pillow==9.4.0
pydantic
python-dotenv
rasterio
rio-cogeo
shapely
starlette
terratorch
tqdm
transitions>=0.9.0
uvicorn
