apiVersion: apps/v1
kind: Deployment
metadata:
  name: prediction-app
  labels:
    app: prediction-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prediction-app
  template:
    metadata:
      labels:
        app: prediction-app
    spec:
      imagePullSecrets:
        - name: ecr-registry-key
      containers:
        - name: prediction-container
          image: ${ECR_URL}/${ECR_IMAGE_NAME}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: cache-volume
              mountPath: /root/.cache
          env:
          - name: BUCKET_NAME
            value: "r2o-models"
          - name: USECASE
            value: "burn-scars"
          - name: API_KEY_VALIDATION_URL
            value: "https://dev.fm.dsig.net/api/validate"
          - name: DOWNLOAD_FOLDER
            value: "/root/.cache/data"
          - name: DATABASE_URL
            value: "${DATABASE_URL}"
          - name: POSTGRES_HOST
            value: "${POSTGRES_HOST}"
          - name: POSTGRES_PORT
            value: "${POSTGRES_PORT}"
          - name: POSTGRES_DB
            value: "${POSTGRES_DB}"
          - name: POSTGRES_USER
            value: "${POSTGRES_USER}"
          - name: POSTGRES_PASSWORD
            value: "${POSTGRES_PASSWORD}"
          - name: EARTHDATA_USERNAME
            value: "${EARTHDATA_USERNAME}"
          - name: EARTHDATA_PASSWORD
            value: "${EARTHDATA_PASSWORD}"
          - name: COGNITO_USER_POOL_ID
            value: "${COGNITO_USER_POOL_ID}"
          - name: COGNITO_CLIENT_SECRET
            value: "${COGNITO_CLIENT_SECRET}"
          - name: COGNITO_CLIENT_ID
            value: "${COGNITO_CLIENT_ID}"
          envFrom:
            - configMapRef:
                name: oidc-envs
      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: service-cache-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: floods-app
  labels:
    app: floods-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: floods-app
  template:
    metadata:
      labels:
        app: floods-app
    spec:
      imagePullSecrets:
        - name: ecr-registry-key
      containers:
        - name: pipeline-floods-container
          image: ${ECR_URL}/${ECR_FLOOD_IMAGE_NAME}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: cache-volume
              mountPath: /root/.cache
          env:
          - name: BUCKET_NAME
            value: "r2o-models"
          - name: USECASE
            value: "floods"
          - name: API_KEY_VALIDATION_URL
            value: "https://dev.fm.dsig.net/api/validate"
          - name: DOWNLOAD_FOLDER
            value: "/root/.cache/data"
          - name: MODEL_WEIGHT_PATH
            value: "${FLOOD_WEIGHT}"
          - name: CONFIG_PATH
            value: "${FLOOD_CONFIG}"
          envFrom:
            - configMapRef:
                name: oidc-envs
      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: service-cache-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: burn-scars-app
  labels:
    app: burn-scars-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: burn-scars-app
  template:
    metadata:
      labels:
        app: burn-scars-app
    spec:
      imagePullSecrets:
        - name: ecr-registry-key
      containers:
        - name: pipeline-burn-scars-container
          image: ${ECR_URL}/${ECR_BURN_IMAGE_NAME}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: cache-volume
              mountPath: /root/.cache
          env:
          - name: BUCKET_NAME
            value: "r2o-models"
          - name: USECASE
            value: "burn_scars"
          - name: API_KEY_VALIDATION_URL
            value: "https://dev.fm.dsig.net/api/validate"
          - name: DOWNLOAD_FOLDER
            value: "/root/.cache/data"
          - name: MODEL_WEIGHT_PATH
            value: "${BURN_WEIGHT}"
          - name: CONFIG_PATH
            value: "${BURN_CONFIG}"
          envFrom:
            - configMapRef:
                name: oidc-envs
      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: service-cache-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crop-classification-app
  labels:
    app: crop-classification-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crop-classification-app
  template:
    metadata:
      labels:
        app: crop-classification-app
    spec:
      imagePullSecrets:
        - name: ecr-registry-key
      containers:
        - name: pipeline-crop-classification-container
          image: ${ECR_URL}/${ECR_CROP_IMAGE_NAME}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: cache-volume
              mountPath: /root/.cache
          env:
          - name: BUCKET_NAME
            value: "r2o-models"
          - name: USECASE
            value: "crop_classification"
          - name: API_KEY_VALIDATION_URL
            value: "https://dev.fm.dsig.net/api/validate"
          - name: DOWNLOAD_FOLDER
            value: "/root/.cache/data"
          - name: MODEL_WEIGHT_PATH
            value: "${CROP_WEIGHT}"
          - name: CONFIG_PATH
            value: "${CROP_CONFIG}"
          envFrom:
            - configMapRef:
                name: oidc-envs
      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: service-cache-pvc
